<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onLogin()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" name="email" type="email" required autocomplete="email">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="password" name="password" type="password" required autocomplete="current-password">
        </mat-form-field>

        <p class="text-right">
          <a routerLink="/register">Crear una cuenta nueva</a>
        </p>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" class="full-width">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- <mat-card>
  <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form (ngSubmit)="onLogin()">
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username">
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
  </mat-form-field>
</p>

<p *ngIf="error" class="error">
  {{ error }}
</p> 

<div class="button">
  <button type="submit" mat-button>Login</button>
</div>

</form>
</mat-card-content>
</mat-card> -->